
## Define environment variable
SetEnvIf Host ^staging\.agrea\.ph$ SITE=staging.agrea.ph
SetEnvIf Host ^www\.agrea\.ph$ SITE=www.agrea.ph

# Define the filesystem locations (related to document root)
SetEnvIf Request_URI ^.*  PAGES_CACHE_PATH=sites/agrea.ph/cache/images
SetEnvIf Request_URI ^.*  PAGES_IMAGES_PATH=images/agrea.ph

## No directory listings
<IfModule autoindex>
  IndexIgnore *
</IfModule>

## Can be commented out if causes errors, see notes above.
Options +FollowSymlinks
Options -Indexes

## Disable inline JavaScript when directly opening SVG files or embedding them with the object-tag
<FilesMatch "\.svg$">
  <IfModule mod_headers.c>
    Header always set Content-Security-Policy "script-src 'none'"
  </IfModule>
</FilesMatch>

RewriteEngine On

## Begin - Redirects
#

  RewriteCond %{HTTP_HOST} !^staging\. [NC]
  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#
## End - Redirects

## Begin - Image Cache
#

 RewriteRule ^ - [E=PAGES_CACHE_ROOT:%{DOCUMENT_ROOT}%{ENV:PAGES_CACHE_PATH}]
 RewriteRule ^ - [E=PAGES_IMAGES_ROOT:%{DOCUMENT_ROOT}%{ENV:PAGES_IMAGES_PATH}]

 # Condition - Do not serve from cache on browser refresh or when caching is not allowed
 #RewriteCond %{HTTP:Cache-Control} ^(no-cache)$ [OR]
 RewriteCond %{QUERY_STRING} ^$ [OR]
 RewriteCond %{REQUEST_URI} !(?i)(.+)\.(jpe?g|png|gif).*$
 RewriteRule .* - [S=2]

 # Find WebP image (if browser supports it)
 RewriteCond %{HTTP_ACCEPT} image/webp [OR]
 RewriteCond %{HTTP_USER_AGENT} "Google Page Speed Insights"
 RewriteCond %{DOCUMENT_ROOT}%{ENV:PAGES_CACHE_PATH}/$1\.webp_%{QUERY_STRING} -f
 RewriteRule (.+)\.(jpe?g|png|gif).*$ %{ENV:PAGES_CACHE_PATH}/$1.webp_%{QUERY_STRING} [NC,T=image/webp,E=IMAGE:1,L]

 # Find other image
 RewriteCond %{DOCUMENT_ROOT}/%{ENV:PAGES_CACHE_P}/$1\.$2_%{QUERY_STRING} -f
 RewriteRule (.+)\.(jpe?g|png|gif).*$ %{ENV:PAGES_CACHE_PATH}/$1.$2_%{QUERY_STRING} [NC,E=IMAGE:1,L]

 # Generate image
 RewriteCond %{ENV:REDIRECT_IMAGE} !=1
 RewriteCond %{QUERY_STRING} !^$
 RewriteRule images\/(.+)\.(jpe?g|png|gif).*$ image.php?path=$1.$2&%{QUERY_STRING} [NC,E=IMAGE,L]

 # Set cache to 1 year
 Header set Cache-Control public,max-age=315360000 env=REDIRECT_IMAGE

 # Add Accept to the Vary header
 Header append Vary Accept env=REDIRECT_IMAGE

 # Remove Etag header (use Last-Modified to validate)
 Header unset ETag env=REDIRECT_IMAGE

#
## End - Image cache

## Begin - Joomla! core SEF Section.
#

  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  RewriteCond %{REQUEST_URI} !^/index\.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* index.php [L]

#
## End - Joomla! core SEF Section.
