
## Define environment variable
SetEnvIf Host ^(www|staging)\.agrea\.ph$ SITE=$1.agrea.ph

# Define the filesystem locations (related to document root)
SetEnvIf Request_URI ^.*  PAGES_CACHE_PATH=sites/agrea.ph/cache
SetEnvIf Request_URI ^.*  PAGES_THEME_PATH=sites/agrea.ph/theme
SetEnvIf Request_URI ^.*  PAGES_IMAGES_PATH=images/agrea.ph

## No directory listings
<IfModule autoindex>
  IndexIgnore *
</IfModule>

## Can be commented out if causes errors, see notes above.
Options +FollowSymlinks
Options -Indexes

## Disable inline JavaScript when directly opening SVG files or embedding them with the object-tag
<FilesMatch "\.svg$">
  <IfModule mod_headers.c>
    Header always set Content-Security-Policy "script-src 'none'"
  </IfModule>
</FilesMatch>

RewriteEngine On

## Begin - Redirects
#

  # Redirect IE to /browser-not-supported
  RewriteRule ^browser-not-supported$ [NC,L]
  RewriteCond %{HTTP_USER_AGENT} "MSIE [1-11]" [NC]
  RewriteRule ^(.*)$ /browser-not-supported [R=301,L]

  # Redirect none-www to www
  RewriteCond %{HTTP_HOST} !^staging\. [NC]
  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Redirect /index.php/* to /*
  RewriteCond %{THE_REQUEST} !^.*administrator [NC]
  RewriteCond %{THE_REQUEST} ^.*index\.php [NC]
  RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

#
## End - Redirects

## Begin - Theme Cache
#

RewriteCond %{DOCUMENT_ROOT}/%{ENV:PAGES_THEME_PATH}/$1 -f
RewriteRule theme\/(.+)$ %{ENV:PAGES_THEME_PATH}/$1 [NC,E=THEME:1,L]

Header set Cache-Control public,max-age=315360000 env=REDIRECT_THEME

#
## End - Theme Cache

## Begin - Image Cache
#

   RewriteRule ^ - [E=PAGES_CACHE_ROOT:%{DOCUMENT_ROOT}%{ENV:PAGES_CACHE_PATH}]
   RewriteRule ^ - [E=PAGES_IMAGES_ROOT:%{DOCUMENT_ROOT}%{ENV:PAGES_IMAGES_PATH}]

   # Condition - Do not serve from cache on browser refresh or when caching is not allowed
   RewriteCond %{HTTP:Cache-Control} ^(no-cache)$
   RewriteCond %{REQUEST_URI} !(?i)(.+)\.(jpe?g|png|gif|svg).*$
   RewriteRule .* - [S=2]

   # Find generated WebP image (if browser supports it)
   RewriteCond %{HTTP_ACCEPT} image/webp
   RewriteCond %{DOCUMENT_ROOT}%{ENV:PAGES_CACHE_PATH}/$1\.webp_%{QUERY_STRING} -f
   RewriteRule (.+)\.(jpe?g|png|gif|svg) %{ENV:PAGES_CACHE_PATH}/$1.webp_%{QUERY_STRING} [NC,T=image/webp,E=IMAGE:1,L]

   # Find generated image (in case browser doesn't support WebP)
   RewriteCond %{DOCUMENT_ROOT}/%{ENV:PAGES_CACHE_PATH}/$1\.$2_%{QUERY_STRING} -f
   RewriteRule (.+)\.(jpe?g|png|gif|svg) %{ENV:PAGES_CACHE_PATH}/$1.$2_%{QUERY_STRING} [NC,E=IMAGE:1,L]

   # Find original image (in case image couldn't be generated)
   RewriteCond %{DOCUMENT_ROOT}/%{ENV:PAGES_CACHE_PATH}/$1\.$2% -f
   RewriteRule (.+)\.(jpe?g|png|gif|svg) %{ENV:PAGES_CACHE_PATH}/$1.$2 [NC,E=IMAGE:1,L]

   # Generate image
   RewriteCond %{ENV:REDIRECT_IMAGE} !=1
   RewriteRule images\/(.+)\.(jpe?g|png|gif|svg) image.php?cache_path=images&image_path=$1.$2&%{QUERY_STRING} [NC,E=IMAGE,L]

   # Set cache to 1day (browser) and 1 year (cdn)
   Header set Cache-Control public,max-age=86400,s-maxage=315360000 env=REDIRECT_IMAGE

   # Add Accept to the Vary header
   Header append Vary Accept env=REDIRECT_IMAGE

   # Remove Etag header (use Last-Modified to validate)
   Header unset ETag env=REDIRECT_IMAGE

#
## End - Image cache

## Begin - Joomla! core SEF Section.
#

  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  RewriteCond %{REQUEST_URI} !^/index\.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* index.php [L]

#
## End - Joomla! core SEF Section.
