/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /*
   * Smooth scrolling IF user doesn't have a preference due to motion sensitivities
  */
  @media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
  }
  .main-wrapper,
  header,
  aside[role^="comp"],
  footer {
    content-visibility: auto;
  }
  header {
    contain-intrinsic-size: 100px;
  }
  footer {
    contain-intrinsic-size: 400px;
  }
  /* responsive font size for browsers that understand: https://caniuse.com/mdn-css_types_clamp; */
  body > * {
    font-size: clamp(0.75rem, 4vw, 1rem);
  }
  /* Main header story and IN FOUCS area on the homepage */
  @screen lg {
    section.hero-alt .hero-image {
      clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
      transition: 1s;
    }
    section.hero-alt:hover .hero-image {
      clip-path:polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
    }
  }
  section[class*="bg-"]:not(.bg-white) {
    @apply relative bg-fixed bg-no-repeat bg-left-top bg-cover;
    background-blend-mode: multiply;
  }
  section[class*="bg-"]:not(.hero-alt):not(.bg-white) > div {
    @apply relative z-20;
  }
  section[class*="bg-"]:not(.bg-white) h1 {
    text-shadow:  1px 1px 1px rgba(255, 255, 255, 0.2);
  }
  section[class*="bg-"]:not(.bg-white) p {
    text-shadow:  1px 1px 0 rgba(255, 255, 255,  0.2);
  }
  /* sticky footer
   * tailwind doesn't handle this well inline so let's add it here for large screens
  */
  @screen lg {
    .main-wrapper {
      @apply relative z-10;
    }
    body > footer {
      @apply sticky z-0 bottom-0 left-0 w-full;
      position: -webkit-sticky;
    }
    _::-webkit-full-page-media, _:future, :root footer {
      @apply static;
    }
  }
  /* Footer illustration */
  body > footer {
    @apply bg-no-repeat;
    background-position: 0 calc(100% - 5rem);
    background-size: 100vw;
  }
  /* hide anything we don't want to show until apline has loaded or if javascript is disabled */
  [x-cloak] {
    @apply hidden;
  }
  .main-wrapper {
    @apply min-h-screen;
  }
  .main-wrapper,
  footer {
    @apply text-base;
  }
  h1:not([class]) {
    @apply text-4xl text-gray-900 leading-none mb-2;
    font-family:'Raleway';
  }
  h2:not([class]) {
    @apply text-3xl text-gray-900 leading-none mb-2;
    font-family:'Raleway';
  }
  h3:not([class]) {
    @apply text-2xl text-gray-900 leading-tight mb-3;
    font-family:'Raleway';
  }
  h4:not([class]) {
    @apply text-xl text-gray-900 mb-4;
    font-family:'Raleway';
  }
  h5:not([class]) {
    @apply text-lg text-gray-900 mb-5;
    font-family:'Raleway';
  }
  blockquote:not([class]),
  label:not([class]),
  p:not([class]),
  pre:not([class]),
  td:not([class]),
  th:not([class]),
  ul:not([class]),
  ol:not([class]) {
    @apply mb-6;
  }
  small:not([class]) {
    @apply text-sm mb-8;
  }
  table:not([class]) {
    @apply border-collapse mb-6;
  }
  td:not([class]),
  th:not([class]),
  tr:not([class]) {
    @apply pr-6;
  }
  ul:not([class]) {
    @apply list-disc list-outside ml-4;
  }
  ol:not([class]) {
    @apply list-decimal list-outside ml-4;
  }
  li:focus-within a {
    @apply outline-none;
  }
  ul:not([class]) > li:not([class]) {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  li:not([class]) > ol:not([class]),
  li:not([class]) > ul:not([class]) {
    @apply mx-4 my-2;
  }
  a[href] {
    @apply cursor-pointer;
  }
  a:not([class]) {
    @apply text-green-500 no-underline bg-left-bottom bg-no-repeat;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 2px;
    transition: background-size .3s;
  }
  a:not([class]):hover {
    background-size: 100% 2px;
  }
  a:not([class]):focus {
    @apply outline-none shadow-outline;
  }
  article > img:not([class]) {
    @apply rounded;
  }
  b:not([class]),
  dt:not([class]),
  strong:not([class]) {
    @apply font-semibold;
  }
  dl:not([class]) + dl:not([class]) {
    @apply mt-4;
  }
  dt:not([class]) {
    @apply leading-tight mt-4 mb-1;
  }
  dl:not([class]) dt:not([class]):first-child {
    @apply mt-2;
  }
  figure:not([class]) {
    @apply rounded-lg mb-6;
  }
  figcaption:not([class]) {
    @apply text-center text-sm italic mt-2;
  }
  sub:not([class]),
  sup:not([class]) {
    @apply text-xs relative align-baseline;
  }
  sup:not([class]) {
      top: -0.5em;
  }
  sub:not([class]) {
      bottom: -0.25em;
  }
  /* titles */
  .font-title {
    @apply uppercase;
  } 
  /* hero image */
  .hero-image > div {
    @apply bg-right;
  }
  /* Single article featured image */
  .featured-image {
    height:33vh;
  }
  @screen lg {
    .featured-image {
      height:42.86vh;
    }
  }
  /* Plyr.js */
  .plyr {
    @apply rounded-lg;
  }
  /* pagination */
  .k-pagination__pages li {
    @apply inline-flex mr-1;
  }
  .k-pagination__pages a {
    @apply rounded py-2 px-4 no-underline bg-none;
  }
  .k-pagination__pages a:hover {
    @apply no-underline;
  }
  .k-pagination__pages li.k-is-active a {
    @apply bg-green-500 text-white;
  }
  .k-pagination__pages li:not(.k-is-active):hover a {
    @apply bg-gray-200;
  }
  .toggle-checkbox:checked {
    @apply right-0 border-green-500;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply bg-green-500;
  }
  .circles {
    @apply bg-center bg-contain bg-no-repeat;
  }
  .circle-text {
    @apply w-48 h-48 rounded-full;
    line-height: 12rem;
  }
}
@layer utilities {
  img.lazyprogressive {
    @apply bg-cover;
  }
}
/* Anything we can't do easily with tailwind classes */
/* CSS Vars that are used in this file and in /partials/structure/footer.html.php */
:root {
  --green-500:#788023;
  --dark-green-500:#3E462E;
  --lime-500:#C9CA48;
  --gray-500:#8E8E8C;
  --gray-200:#E3E3E2;
  --link-colour:var(--green-500);
  /* plyr.js colour override */
  --plyr-color-main: var(--green-500);
  /* Joomlatools logo colour override */
  --jt-black:var(--green-500);
  --jt-blue:var(--lime-500);
}